.home-container{
    background:$red;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 100px 10%;
    min-height: 100vh;
    box-sizing: border-box;
    justify-content: center;
} 

.skills{
    color: seashell;
    font-size: 32px;
}

.header-text {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.header-text > h1 {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 3em;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #fff;
    margin: 10px;
}
.header-text > p {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin: 10px;

}

.head-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 35px 10px;

}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 36px;
    height: 51px;
    left: 0;
    top: 0px;
    text-decoration: none;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
}

.btn-white{
    background: #fff;
    color: #112d57;
    
}
.btn-transparent{
    border:1px solid #fff;
    box-sizing: border-box;
    color: black;
}
.btn:hover {
    box-shadow: 1px 10px 32px rgba(0, 0, 0, 0.45);
    transition: all 0,3s ease-in-out;
}


// for small height screen sizes

@media only screen and (max-height:550px){

    .home-anime{
        width: 400px;
    }
}

// for small width screen 
@media only screen and (max-height:650px){

    .home-anime{
        width: 80%;
        align-self:center;
        margin-bottom: -20px;
    }

    .head-btns{
        margin: 10px 10px 35px 10px;
    }

}