.welcome{
    width: 400px;
}

.home-container span:before {
    content: " ";
    width: 2px;
    background: linear-gradient(0deg,var(--grad-2)0%,var(--grad-1)100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
}