//site colors
// sidebar color and the background color 
$blue:linear-gradient(39.97deg, #03d6f3 0.79%, #458ff6 79.29%); 
$red:linear-gradient(to left, rgb(244, 92, 67), rgb(234, 46, 68));

$white: #ffffff;
$white2:rgb(255, 255, 255);
$yellow: #fdc300;
$green: #3eb33e;
$light-grey: #c7c7c7;
$grey: #373a47;
$dark-grey: #373737;
$blue-grey: #98a4b4;
// $red: #e82929;